<!--
  Generated template for the CreateExpensePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>CreateExpense</ion-title>
    <ion-buttons right>
        <button ion-button (click)="dismiss()">
            <ion-icon size="large" class="font-big" name="close-circle"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label floating>description</ion-label>
            <ion-input type="text" [(ngModel)]="description"></ion-input>
        </ion-item>
        <ion-row>
            <ion-col col-10>
                <ion-item>
                    <ion-label floating>product</ion-label>
                    <ion-select interface="popover" [(ngModel)]="name">
                        <ion-option *ngFor="let expense of expenses" [value]="expense">{{expense.name}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col col-2 class="iconPadding">
                <button ion-button (click)="addProduct()" >
                        <ion-icon name="add-circle"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <ion-item>
            <ion-label floating>unitPrice</ion-label>
            <ion-input type="number" [(ngModel)]="unitPrice"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>quantity</ion-label>
            <ion-input type="number" [(ngModel)]="quantity"></ion-input>
        </ion-item>
        <!--
            <ion-row>
            <ion-col col-10>
                <ion-item>
                    <ion-label floating>taxes</ion-label>
                    <ion-select interface="popover" [(ngModel)]="tax">
                        <ion-option *ngFor="let tax of taxes" [value]="tax">{{tax.name}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col col-2>
                    <button ion-button (click)="addTax()">
                            <ion-icon name="add-circle"></ion-icon>
                    </button>
                </ion-col>
        </ion-row>
    -->

    </ion-list>
    <button ion-button color="primary" block (click)="submitExpense()">Submit</button>
</ion-content>
