page-new-home {
  .tile ion-icon {
    text-align: center;
    font-size: 1.5em
  }
  
  ion-item{
    padding-left: 0px !important
  }
  .getting-started {
    .home-hello {
      position: relative;
      h1 {
        margin-top: 0;
      }
    }
   
    .tile {
      .item {
        padding: 0;
      }

      .item-inner {
        padding: 0;
      }

      .hstyle {
        color:rosybrown;
        text-align: center;
        font-weight: bold;
      }

      h1 {
        text-align: center;
        padding-bottom: 10px;
      }
    }

    ion-item-content {
      margin: 0;
    }

    .quick-action {
      width: 100%;

      ion-icon {
        font-size: 2em;
        width: 20px;
      }

      span {
        font-size: 1.6rem;
        padding-left: 10px;
        padding-top: -3px;
        vertical-align: text-bottom;
      }
    }
  }
}
