page-user-profile {
    img{
        border-radius: 50%;
        height: 150px;
        width: 150px;
        display: block;
        margin: 10px auto
    }
    span{
        display: block;
        text-align: center;
        font-size: 1.5rem
    }

}
