page-log-in {
  .title{
    font-weight: bold;
    font-size: 2em;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px
  }
  span{
    font-size: 1.6rem;
    text-align: center
  }

}
